<?xml version="1.0" encoding="UTF-8"?>
<configuration>

  <springProfile name="local">
    <include resource="org/springframework/boot/logging/logback/base.xml"/>

    <logger name="com.asoft.ainstitute.api" level="DEBUG" additivity="false">
      <appender-ref ref="CONSOLE"/>
    </logger>
    <logger name="org.springframework" level="DEBUG" additivity="false">
      <appender-ref ref="CONSOLE"/>
    </logger>
    <logger name="org.hibernate" level="DEBUG" additivity="false">
      <appender-ref ref="CONSOLE"/>
    </logger>
    <root level="INFO" additivity="false">
      <appender-ref ref="CONSOLE"/>
    </root>
  </springProfile>

  <springProfile name="dev">
    <property name="LOG_FILE"
        value="${LOG_FILE:-${LOG_PATH:-${LOG_TEMP:-/Users/vijay-agalcha/Logs/AInstitute}}/spring.log}"/>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>

    <logger name="com.asoft.ainstitute.api" level="DEBUG" additivity="false">
      <appender-ref ref="FILE"/>
    </logger>
    <logger name="org.springframework" level="INFO" additivity="false">
      <appender-ref ref="FILE"/>
    </logger>
    <logger name="org.hibernate" level="INFO" additivity="false">
      <appender-ref ref="FILE"/>
    </logger>
    <root level="INFO" additivity="false">
      <appender-ref ref="FILE"/>
    </root>

  </springProfile>

</configuration>